body {
	margin : 0;
}

section.imgmt{
	background: url('mariage.jpg');
	height: 90vh;
	background-size: cover;
}

section.inde{
	background: url('inde4.jpg');
	height: 100vh;
    width: 100%; 
	display: inline-block;
	background-size: cover;
	min-width: 1250px;
}


img.chateau{
	height: 90vh;
	background-size: cover;
	float: left;
	max-width: 60%;
}

p.texte{
	text-align: center;
	font-size: 40px;
	height: 82vh;
	margin-bottom: 0px;
	font-family: ;
}
.blan{
	color : white;
}

#place{
	margin-bottom : 50px;
}

#instat{
	height : 100px;
	width : 100px;
	margin-top : 50px;
	margin-bottom : 50px;
	margin-left : 400px;
}

#plaze{
	margin-top : 75 px;
}


p.bien1{
	border-top: solid white 5px;
	border-bottom: solid white 5px;
	display: inline-block; 
	margin-left: 200px;
	font-size: 80px;
	color: white;
	margin-top: 120px;
	margin-bottom: 0px;
}
p.mart{
	color: white;
	font-size: 50px;
	margin-left: 200px;
	margin-top: 0px;
}


h1.cadeau{
	text-align: center;
	color: white;
	font-size: 60px;
}

p.titre{
	color:white;
	font-size: 40px;
	text-align: center;
}

div.cube{
	background: #A5A5A5;
	margin-left: 400px;
	border-radius: 10px;
	height: 350px;
	width: 500px;
	text-align: center;
	opacity: 0.5;
}

div.cube:hover{
	opacity: 1;
}

div.cube p{
	color: white;
	font-size: 30px;
	opacity: 1;
}

div.chrono{
	display: inline-block;
	background-color: black;
	width: 100%; 
	float:right;
	height: 90vh;
}

p.brick{
	border: solid white 3px;
	width: 180px;
	text-align: center;
	height: 100px;
	display: inline-block;
	position: relative;
	margin-left: 20px;
}
p.align{
	flex-direction: row;
}


h2.bouton {
	display:block;
	width:150px;
	line-height:50px;
	text-align:center;
	vertical-align:middle;
	background:url(bouton-noir.png) no-repeat;
	color:white;
	text-decoration:none;
	margin-left: 35%;

}

h2.bouton:hover {
	background:url(bouton-noir-2.png) no-repeat;

}

div.bas {

	background-color: #A5A5A5;
	height: 775px ;
	margin-bottom: 0px;
	width: 100%;
}

p.bas {
	flex-direction: column;
	font-size: 25px;
	color: white;
	display: inline-block;
	height: 30px;
	width: 500px;
}

.nom{
	margin-top : 50px;
	font-size : 20px;
}

#Q1{
	height : 150px;
	margin-top : 50px;
}

#Q2{
	height : 350px;
	margin-top : 50px;
}

#Q3{
	height : 350px;
	margin-top : 50px;
}
#Q4{
	height : 150px;
	margin-top : 50px;
}
#Q5{
	height : 250px;
	margin-top : 50px;
}
#Q6{
	height : 200px;
	margin-top : 50px;
}

.envoy{
	margin-top : 100px;
	margin-bottom : 150px;
}

.autre{
	margin: 20px;
	
}

.question{
	font-size:20px;
	
}